<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li>@Html.ActionLink(@User.Identity.Name, "Index", "Account")</li>

        if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Manage Site", "Index", "Management", new { area = "Administration" }, null)</li>
         }

        <li><a href="@Url.Action("Logout", "Account")">Log Out</a></li>
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = ""}, null)</li>
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    }
</ul>

    