@model PhotoExploration.Models.DetailsPhotoViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div class="row">
    <h3>@Model.Name</h3>
    <img class="img-thumbnail" style="max-height: 75%" src="~/Photos/@Model.FileName" alt="@Model.Name"/>
    <p>@Model.Description</p>
    <p>@Model.UploadedBy</p>
    
    <h3>Comments</h3>
    @foreach (var comment in Model.Comments.OrderBy(x => x.Date))
    {
        <h4>@comment.Commenter</h4>
        <p>@comment.Date.ToLocalTime()</p>
        <p>@comment.Comment</p>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
