@model PhotoExploration.Models.Photo

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div class="row">
    <h3>@Model.Title</h3>
    <img class="img-thumbnail" style="max-height: 75%" src="~/Photos/@Model.Path" alt="@Model.Title"/>
    <p>@Model.Description</p>
    
    <h3>Comments</h3>
    @foreach (var comment in Model.Comments.OrderBy(x => x.DateAdded))
    {
        <h4>@comment.User.Name</h4>
        <p>@comment.DateAdded.ToLocalTime()</p>
        <p>@comment.Text</p>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
